@import "variables.scss";

#category-crates, #category-subcategories {
    > .inner-col {
        padding: 0;
    }
    ul {
        margin: 1em 0; padding: 0;
        list-style: none;
        > li {
            margin: 0; padding: 0;
        }
    }
    a {
        contain: style paint;
        display: block;
        overflow: hidden;
        padding: 1em;
        text-decoration: none;
        color: inherit;
        &:link h4 {
            color: $link-color;
            @media (prefers-color-scheme: dark) {
                color: $dark-link-color;
            }
        }
        &:visited h4 {
            color: $visited-link-color;
            @media (prefers-color-scheme: dark) {
                color: $dark-visited-link-color;
            }
        }
        &:hover {
            background: lighten($neutral-shade, 30%);
            @media (prefers-color-scheme: dark) {
                background: lighten($dark-neutral-shade, 10%);
            }
            code {
                background: lighten($neutral-shade, 10%);
                @media (prefers-color-scheme: dark) {
                    background: lighten($dark-neutral-shade, 00%);
                }
            }
            .desc {
                color: $text-color;
                @media (prefers-color-scheme: dark) {
                    color: lighten($dark-text-color, 5%);
                }
            }
            h4 {
                text-decoration: underline;
            }
            .meta {
                opacity: 0.8;
            }
            .nightly {
                background: darken($blue-shade, 0%);
                border-color: darken($blue-shade, 10%);
                color: $inverted-text-color !important;
            }
        }
        > .h {
            line-height: 1.3;
            font-size: 1.05em;
            margin: 0 0 0.333em;
        }
        h4, .desc {
            display: inline;
        }
        .desc {
            color: lighten($text-color, 20%);
            @media (prefers-color-scheme: dark) {
                color: darken($dark-text-color, 10%);
            }
            font-weight: 400;
            code {
                border: 0;
                color: lighten($text-color, 40%);
                background: lighten($neutral-shade, 30%);
                @media (prefers-color-scheme: dark) {
                    color: darken($dark-text-color, 15%);
                    background: lighten($dark-neutral-shade, 20%);
                }
            }
        }
        @media (max-width: 640px) {
            h4 {
                font-size: 1em;
            }
            .desc {
                font-size: 0.85em;
            }
        }
        h4 {
            font-size: 1.1em;
            margin: 0 0.5ex 0 0;
            font-weight: 500;
        }

    }
}
#category-subcategories {
    .h > h4 {
        font-size: 1.25em;
        font-weight: bold;
    }
    .desc::before {
        content: "›";
        color: lighten($text-color, 20%);
        @media (prefers-color-scheme: dark) {
            color: lighten($dark-text-color, 0%);
        }
        margin-right: 1ex;
    }
}
#category-crates {
    .meta {
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: lighten($text-color, 5%);
        @media (prefers-color-scheme: dark) {
            color: lighten($dark-text-color, 10%);
        }
    }
    .version, .k, .downloads, .labels > span {
        margin-right: 2ex;
    }
    .downloads {
        color: $text-color;
        @media (prefers-color-scheme: dark) {
            color: darken($dark-text-color, 10%);
        }
        b {
            color: $text-color;
            @media (prefers-color-scheme: dark) {
                color: darken($dark-text-color, 10%);
            }
            font-weight: normal;
            padding-left: 0.1ex;
        }
        &::before {
        content: "⬇︎";
        color: lighten($neutral-shade, 10%);
        @media (prefers-color-scheme: dark) {
            color: lighten($dark-neutral-shade, 40%);
        }
        margin: 0 0.25ex 0 0;
        text-decoration: underline;
        vertical-align: 7%;
        font-size: 0.8em
        }
    }
    .version {
        color: darken($red-shade, 2%);
        @media (prefers-color-scheme: dark) {
            color: $dark-red-shade;
        }
        &.stable {
            color: darken($green-shade, 3%);
            @media (prefers-color-scheme: dark) {
                color: $green-shade;
            }
        }
        &.okay {
            color: darken($red-shade, 5%);
            @media (prefers-color-scheme: dark) {
                color: $dark-orange-shade;
            }
        }
        &.eek {
            color: lighten($red-shade, 20%);
            @media (prefers-color-scheme: dark) {
                color: lighten($dark-red-shade, 10%);
            }
            font-weight: bold;
        }
        > span {
            opacity: 0.6;
            padding-right: 0.1ex;
        }
    }
    .k {
        color: lighten($text-color, 40%);
        > span {
            color: lighten($text-color, 60%);
            @media (prefers-color-scheme: dark) {
                color: lighten($text-color, 30%);
            }
            padding-right: 0.1ex;
        }
        font-weight: 300;
    }
    .labels > span {
        font-size: 0.9em;
        vertical-align: 3%;
        color: lighten($text-color, 40%);
        border: 1px solid lighten($text-color, 50%);
        border-radius: 3px;
        padding: 0 3px;

        &.nightly {
            color: darken($blue-shade, 00%);
            border-color: 1px solid lighten($text-color, 50%);
            @media (prefers-color-scheme: dark) {
                color: lighten($blue-shade, 40%);
                border-color: 1px solid lighten($dark-text-color, 50%)
            }
        }
    }

}

.pager {
    margin: 2em 0 0;
    padding: 1em 0 0;
    border-top: 1px dotted #ddd;
    text-align: right;
    a::after {
        content: " »";
        opacity: 0.7;
    }
}
.seealso {
    padding: 1em 0;
    color: #bbb;
    a {
        padding: 0.333em 0;
        font-weight: 400;
        white-space: nowrap;
    }
}
