@import "variables.scss";

a {text-decoration:none}

a:link {
  color: $link-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-link-color;
  }
  &:hover {text-decoration: underline}
}
a:visited {
  color: $visited-link-color;
  @media (prefers-color-scheme: dark) {
    color: $dark-visited-link-color;
  }
  &:hover {text-decoration: underline}
}

pre, code {
    font-family: sfmono-regular,consolas,liberation mono,menlo,monospace, monospace;
    padding: 3px 5px 2px;
    border-radius: 3px;
}
code {
    font-size: 0.9em;
    background: lighten($neutral-shade, 28%);
    @media (prefers-color-scheme: dark) {
      background: lighten($dark-neutral-shade, 3%);
      color: lighten($dark-text-color, 17%);
    }
}
a code {
    padding: 3px 3px 2px;
    @media (prefers-color-scheme: dark) {
      text-shadow: 1px 1px 0 black;
    }
}
a:link code {
    background: lighten($neutral-shade, 30%);
    @media (prefers-color-scheme: dark) {
      background: rgba(lighten($link-color, 10%), 0.5);
    }
}
a:visited code {
    background: lighten($visited-link-color, 65%);
    @media (prefers-color-scheme: dark) {
      background: rgba(lighten($visited-link-color, 10%), 0.5);
    }
}
a:link:not(:hover) code {
    border-bottom: 1px solid lighten($neutral-shade, 20%);
    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid lighten($dark-neutral-shade, 20%);
    }
    padding-bottom: 1px;
}
a:visited:not(:hover) code {
    border-bottom: 1px solid lighten($visited-link-color, 50%);
    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid lighten($dark-visited-link-color, 50%);
    }
    padding-bottom: 1px;
}

pre {
    background: lighten($neutral-shade, 28%);
    padding: 0.5em 2ex;
    line-height: 1.45;
    font-size: 0.9em;
    white-space: pre-wrap;
    overflow: auto;
    @media (prefers-color-scheme: dark) {
      background: $dark-neutral-shade;
      color: lighten($dark-text-color, 25%);
    }
}
pre code {
    border-radius: 0;
    padding: 0;
    background: transparent;
    font-size: inherit;
}

h1,h2,h3,h4,h5 {
  a > code {
    font-weight: normal;
  }
  code {
    font-size: 1.1em;
    font-family: 'fira code', 'interstate mono', consolas, monospace, monospace;
    background-color: #fcfcfb;
    @media (prefers-color-scheme: dark) {
      background-color: rgba(#fcfcfb, 0.15);
    }
  }
}

table {
    border-collapse: collapse;
    img {
        vertical-align: bottom;
    }
}

.readme {
    overflow: auto;
    img {
        font-size: 10px;
        line-height: 15px;
        font-weight: 300;
        object-fit: contain;
        max-width: 100%;
        &[align="left"] {
          margin: 0 1em 0.7em 0;
        }
        &[align="right"] {
          margin: 0 0 0.7em 1em;
        }
    }
    table {
      margin-top: 0.25em;
      margin-bottom: 1em;
    }
    table, td, th {
        border: 1px solid #dddfe4;
        @media (prefers-color-scheme: dark) {
          border-color: #666;
        }
    }
    td, th {
      padding: 4px 8px;
    }
    tr:nth-child(even) {
      td, th {
        background: #fbfcfd;
        @media (prefers-color-scheme: dark) {
          background: rgba(0,0,0,0.25);
        }
      }
    }
    thead > tr {
      > td, > th {
        background: #f9fafb;
        border-color: #eee;
        border-bottom-color: #ccc;
        @media (prefers-color-scheme: dark) {
          background: rgba(255,255,255,0.1);
          border-color: #888;
        }
      }
    }
}

header {
    padding-top: 1em;
    background: $header-color;
    @media (prefers-color-scheme: dark) {
      background: $dark-header-color;
    }
    a {
        // just easier to click
        padding: 0.4em 0;
        :visited {
          color: $visited-link-color;
          @media (prefers-color-scheme: dark) {
            color: $dark-visited-link-color;
          }
        }
    }
    .breadcrumbs {
        cursor: default;
        font-size: 1em;
        line-height: 1.33;
        display: inline;
        > h1 {
            font: inherit;
            font-weight: bold;
            margin: 0;
            display: inline;
        }

        .categories a {
            white-space: nowrap;
        }
        .categories.has-keywords {
            margin-right: 1.5em;
        }
        .parent-crate {
          font-weight: bold;
        }
    }
    .keywords {
      cursor: default;
      > span { // first 3
          white-space: nowrap;
      }
    }

    .keyword {
        padding-right: 1.15ex;
        &:not([href]) {
          opacity: 0.666;
          cursor: default;
        }
    }
    .keyword > span {
        opacity: 0.6;
        padding-right: 0.1ex;
        text-decoration: none;
    }
    .gh-logo {color:inherit;} /* in link, needs to adapt to dark theme */
    h2 {

      @media (prefers-color-scheme: dark) {
          color: lighten($dark-text-color, 5%);
      }
        .un {
          font-weight: 150;
          opacity: 0.75;
        }

        overflow-wrap: break-word;
        word-wrap: break-word;

        hyphens: auto;

        font-size: 3.5em;
        @media (max-width: 640px) {
            font-size: 3em;
        }
        @media (max-width: 480px) {
            font-size: 2.5em;
        }
        line-height: 1.08;
        margin: 0.44em 0 0;
        .labels {
            user-select: none;
            cursor: default;
            display: block;
            font-size: 0.4em;
            line-height: 1;
            margin: 0 0 0.45em 0;
            font-weight: normal;
            > span {
                border: 2px solid;
                border-radius: 5px;
                padding: 0 0.4ex;
                color: #777;
                &.yanked {
                    color: $red-shade;
                }
                &.nightly {
                  background: $blue-shade;
                  color: #f8f8f8;
                  border-color: #fff;
                }
            }
        }
    }
    .desc {
        margin:0.4em 0;
        font-weight: 300;
        code {
            background: transparent;
            padding: 0;
        }
    }
    .byline {
        cursor: default;
        margin: 0;
        line-height: 1.33;
        a, .contributors, .coowners > span {
            white-space: nowrap;
        }
        @media (max-width: 640px) {
            font-size: 0.95em;
        }
    }
    h2 + .byline {
      margin-top: 0.7em; // that's for crates without description
    }

    nav {
        user-select: none;
        margin: 2em 0 0;
        > ul {
            font-size: 0.85em;
            @media (max-width: 640px) {
                font-size: 0.75em;
            }
            display: flex;
            flex-shrink: 1;
            flex-wrap: wrap-reverse;
            white-space: nowrap;
            list-style: none;
            margin: 0; padding: 0;
            > li {
                cursor: default;
                &.active {
                    background: $background-color;
                    color: $text-color;
                    @media (prefers-color-scheme: dark) {
                      border-bottom-color: $dark-inverted-text-color;
                      background: $dark-background-color;
                      color: $dark-text-color;
                    }
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
                margin: 0 0.5em 0 0;
                padding: 0 0 2px;
                a {
                  display: block;
                  &.button {
                    border-radius: 3px;
                    margin-right: 1em;
                    background-color: lighten($header-color, 3%);
                    &:hover {
                      background: mix($background-color, $header-color, 75%);
                    }
                    @media (prefers-color-scheme: dark) {
                      background-color: lighten($dark-header-color, 6%);
                      &:hover {
                        background-color: lighten($dark-header-color, 12%);
                      }
                    }
                  }
                  &:hover {
                    text-decoration: none;
                    &:link {
                      color: $link-color;
                      @media (prefers-color-scheme: dark) {
                        color: $dark-link-color;
                      }
                    }
                    &:visited {
                      color: $visited-link-color;
                      @media (prefers-color-scheme: dark) {
                        color: $dark-visited-link-color;
                      }
                    }
                  }
                }
                a, &.active {
                  padding: 0.42em 1.9em 0.4em;
                  @media (max-width: 640px) {
                      padding-right: 1em;
                      padding-left: 1em;
                  }
                }
                &:first-child:not(.active):not(:hover) {
                  > a:not(.button) {
                    padding-left: 0; // has no border, looks stupid indented
                  }
                }
            }
        }
    }
    &.nightly, &.yanked {
      color: $inverted-text-color;
      @media (prefers-color-scheme: dark) {
        background: darken($blue-shade, 20%);
      }
      .keyword > span {
        opacity: 0.9;
      }
      h2 .labels > span {
        color: lighten($neutral-shade, 5%);
        &.yanked {
          color: lighten($red-shade, 10%);
        }
        &.nightly {
          color: $blue-shade;
          border-color:lighten($neutral-shade, 20%);
          background: lighten($neutral-shade, 20%);
        }
      }
    }
    &.nightly {
      background: darken($blue-shade, 10%);
      a:not(.button):link {
        color: lighten($link-color, 50%);
        @media (prefers-color-scheme: dark) {
          color: lighten($dark-link-color, 0%);
        }
      }
      a:not(.button):visited {
        color: lighten($visited-link-color, 30%);
        @media (prefers-color-scheme: dark) {
          color: lighten($dark-visited-link-color, 0%);
        }
      }
    }
    &.yanked {
      background: darken($red-shade, 10%);
      a:link {
        color: lighten($neutral-shade, 20%);
      }
      a:visited {
        color: mix($red-shade, lighten($neutral-shade, 20%));
      }
    }
}

#readme-deps {
  display: flex;
  > div {
    min-width: 75%;

  }
}

@mixin little-pill-padding {
  padding: 1px 4px 2px 4px;
}
@mixin little-pill-padding-border {
  padding: 0 3px 1px 3px;
}

@mixin little-pill {
  @include little-pill-once;
  @include little-pill-idempotent;
}

@mixin little-pill-once {
  font-size: 0.7em;
  font-variant: small-caps;
  font-weight: normal;
}

@mixin little-pill-idempotent {
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
}

#versions {
    .edition-2018 {
      font-size: 0.7em;
      margin-top: 0;
    }
    del {
      color: $neutral-shade;
      text-decoration-color: darken($neutral-shade, 100%);
      font-weight:200;
      @media (prefers-color-scheme: dark) {
        color: darken($dark-text-color, 30%);
        text-decoration-color: lighten($dark-neutral-shade, 50%);
      }
    }
    h3 {font-size: 1em; margin: 1em 0 0.5em;}
    .date {
        text-align:justify-all;
        text-align:justify;
        text-align-last:justify;
        white-space: nowrap;
    }
    h3 {
      margin-bottom: 0;
    }
    h3 > span {
      font-weight: normal;
    }
    .new {
      cursor: default;
      border: 1px solid lighten($orange-shade, 35%);
      color: $orange-shade;
      @media (prefers-color-scheme: dark) {
        background: lighten($dark-neutral-shade, 20%);
        border: 1px solid lighten($dark-neutral-shade, 30%);
        color: $orange-shade;
      }
      @include little-pill;
      @include little-pill-padding-border;
      vertical-align: 20%;
    }

    table, td, th {
        border: 0;
    }
    th {
        padding-right: 0.8ex;
        text-align: right;
        font-feature-settings: "tnum";
        font-variant-numeric: tabular-nums;
    }
}

.about-crate {
  @media (prefers-color-scheme: dark) {
    b, strong, th {
      font-weight: 500;
      color: $dark-text-color-highlight;
    }
  }
  margin: 0 0 2em;
    &::after {
      content:""; // space after downloads
      width: 0px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    > * {
        &:last-child {
            flex-grow: 0;
            flex-shrink: 1;
        }
        margin: 0 0 0 1em;
        padding: 0 0 0 1em;
        &:first-child {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
    }
    #license {
        margin: 1em 0 0.5em;
    }
}


#downloads {
    svg {display:block; margin: 0.8em 0 0.5em}
    @media (prefers-color-scheme: dark) {
      svg {background: lighten($dark-header-color, 3%);}
    }
    p {margin: 0;}
    p:first-child {margin: 1em 0 0.5em;}
}

#sloc {
  flex-basis: 8em;
  p {
    margin: 0.5em 0;
  }
}

#deps {
    cursor: default;
    padding: 1em 0.5em 1em 1.5em;
    min-width: 10em;
    margin-bottom: 1em;
    max-width: 35%;

    h4 {
      margin: 0 0 0.25em;
      font-weight: normal;
    }
    > p {
      margin: 0.5em 0;
    }

    li {margin: 0; padding: 0}
    ul {
        margin: 0 0 0.5em 1.2em; padding: 0;
    }
    ul.dev, li.optional {
        list-style-type: circle;
    }

    ul.long, ul.long + ul {
        line-height: 1.3;
    }
    .label, .with-feature {
        color: lighten($text-color, 50%);
    }
    .version {
      &.obsolete {
        color: $red-shade;
        @media (prefers-color-scheme: dark) {
          color: $red-shade;
        }
        font-weight: bold;
      }
      &.outdated {
        color: $orange-shade;
        @media (prefers-color-scheme: dark) {
          color: $orange-shade;
        }
      }
      &.top {
        display: none;
      }
    }
    code {
      background: transparent;
      padding: 0;
    }
    .version, .with-feature {
        font-size: 0.8em;
    }
    .feature {
      background: lighten($neutral-shade, 31%);
      border: 1px dotted lighten($neutral-shade, 0%);
      color: darken($brown-shade, 20%);

      @media (prefers-color-scheme: dark) {
        background: lighten($dark-neutral-shade, 10%);
        color: lighten($brown-shade, 15%);
        border: 1px dotted lighten($dark-neutral-shade, 50%);
      }
      @include little-pill-padding-border;
    }
    .label, .feature {
      @include little-pill;
      vertical-align: 17%;
    }
    .label  {
      @include little-pill-padding;
      color: $inverted-text-color;
      background: $blue-shade;
      &.label-dev {
        color: $inverted-text-color;
        background: lighten($brown-shade, 20%);
        @media (prefers-color-scheme: dark) {
          background: lighten($brown-shade, 0%);
        }
      }
      &.label-build {
        color: darken($brown-shade, 0%);
        background: $background-color;
        border: 1px solid lighten($brown-shade, 40%);
        @media (prefers-color-scheme: dark) {
          color: darken($brown-shade, 10%);
          border: 1px solid lighten($brown-shade, 40%);
          background: lighten($dark-neutral-shade, 75%);
        }
        @include little-pill-padding-border;
      }
    }
    .label- {display:none;}
    .with-feature {
        line-height: 1;
    }

    li > .cfg {
      @include little-pill-once;
      vertical-align: 17%;
    }

    .cfg {
      background: lighten($neutral-shade, 10%);
      color: $inverted-text-color;
      @media (prefers-color-scheme: dark) {
        background: lighten($dark-neutral-shade, 20%);
        color: $dark-inverted-text-color;
      }
    }
    .cfg, .k {
      @include little-pill-idempotent;
    }
    .k {
      @include little-pill-padding;
    }
    .all > .k:not(:first-child) {
      padding-left: 0;
    }
    .any {
      background: none;
      padding: 0;
    }
    .all > .any {
      background: $background-color;
      border: 1px solid lighten($neutral-shade, 10%);
      @media (prefers-color-scheme: dark) {
        background: $dark-background-color;
        border: 1px solid lighten($dark-neutral-shade, 10%);
      }
      padding: 1px;
      .k {
        padding: 0 3px;
      }
    }
    .not {
      white-space: nowrap;
      padding: 0 0 0 3px;
      > .k, > .any > .k  {
        background: lighten($red-shade, 10%);
        color: lighten($inverted-text-color, 10%);
        border: 1px solid lighten($red-shade, 10%);
        @media (prefers-color-scheme: dark) {
          background: darken($red-shade, 10%);
          color: lighten($dark-text-color, 10%);
          border: 1px solid darken($red-shade, 5%);
        }
        text-shadow: none;
        padding-top: 0;
        padding-bottom: 1px;
      }
      > .any {
        margin-right: 3px;
      }
      > .any > .all {
        white-space: nowrap;
        border-left: 1px solid $background-color;
        border-right: 1px solid $background-color;
      }
    }
}
@media (max-width: 740px) {
  #readme-deps {
    display: block;
    #deps {
      > h4 {
        font-weight: bold;
        > a:not(:hover) {
           color: inherit;
        }
      }
      padding: 1em 0 0;
      max-width: none;
      > div {
        columns: auto;
        column-width: 10em;
      }
    }
  }
}


#badges {
    .badge {
        border-radius: 3px;
        background: lighten($neutral-shade, 50%);
        color: $background-color;
        font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
        font-size: 11px;
        line-height: 20px;
        display: inline-block;
        margin: 0;
        vertical-align: top;
        padding: 0 6px;
        border-right: 7px solid $green-shade;
    }
    padding-top: 7px;
    > a {
        padding: 10px;
        padding-left: 0;
    }
}
main {
    min-height: 52vh
}


hr {
    border: 0;
    border-top: 1px dotted darken($neutral-shade, 30%);
    @media (prefers-color-scheme: dark) {
      border-top: 1px dotted darken($dark-neutral-shade, 0%);
    }
    margin: 1.4em 0;
    height: 0;
}

body > footer {
    cursor: default;
    color: $inverted-text-color;
    background: darken($neutral-shade, 50%);
    @media (prefers-color-scheme: dark) {
      color: $dark-text-color;
      background: #000;
    }
    margin: 2em 0 0;
    font-weight: 300;
    padding: 1em;
    a:link {
        color: $dark-link-color;
        @media (prefers-color-scheme: dark) {
          color: lighten($link-color, 33%);
        }
    }
    a:visited {
        color: lighten($dark-visited-link-color, 15%);
        @media (prefers-color-scheme: dark) {
          color: lighten($visited-link-color, 45%);
        }
    }

    p {
        font-size: 0.9em;
    }
}

pre.to-copy {
  color: #6f3;
  background: #444;
  @media (prefers-color-scheme: dark) {
    background: #3a3a43;
    code {
      color: #cfc;
    }
  }
  width: fit-content;
  min-width: 33%;
  font-size: 1.25em;
  padding: 1em 2em 1em 1em;
}
@import "fira.scss";
@import "syntax_theme.scss";
@import "category.scss";
