$background-color: #ffffff;
$header-color: #eeeeee;
$text-color: #222222;
$inverted-text-color: #fafafa;
$link-color: #0011dd;
$visited-link-color: #719;
$neutral-shade: #aaaaaa;
$blue-shade: #001199;
$red-shade: #aa2200;
$dark-red-shade: #c51e00;
$green-shade: #00aa66;
$orange-shade: #fe7711;
$dark-orange-shade: #c88e05;
$brown-shade: #a0522d;
$cyan-shade: #0099ff;
$purple-shade: #8844ff;
$magenta-shade: #bb44ee;

$dark-background-color: #282a36;
$dark-header-color: #353746;
$dark-text-color: #bcc2d7;
$dark-text-color-highlight: #f7f5ff;
$dark-inverted-text-color: #fafafa;
$dark-link-color: #49a4e4;
$dark-visited-link-color: #a68bfc;
// $dark-visited-link-color: #c72eff;
$dark-neutral-shade: #191a20;

$dark-search-button-text-color: #f1deff;
